<!-- Slider Start -->
<section class="main-slider-area">
    <ul class="main-slider slide">
        <li class="slide__item item-bg-1">
          <div class="slide-caption">
            <h2 class="slide-caption__title">Tư Vấn <span>Quản Trị Doanh Nghiệp</span></h2>
            <p class="slide-caption__desc">Dịch vụ tư vấn quản trị doanh nghiệp chuyên nghiệp</p>
            <a href="car-grid-3.html" class="btn">Xem Chi Tiết</a>
          </div>
        </li>
       <li class="slide__item item-bg-2">
          <div class="slide-caption">
            <h2 class="slide-caption__title">Thương Mại <span>Dịch Vụ</span></h2>
            <p class="slide-caption__desc">Nông Sản - Thủy Sản</p>
            <a href="car-grid-3.html" class="btn">Xem Chi Tiết</a>
          </div>
        </li>
        <li class="slide__item item-bg-3">
          <div class="slide-caption">
            <h2 class="slide-caption__title">Thương Hiệu <span>Cà Phê 249</span> Và <span>Trà Gừng 249</span></h2>
            <p class="slide-caption__desc">Hotline: 0981 249 249</p>
            <a href="car-grid-3.html" class="btn">Xem Chi Tiết</a>
          </div>
        </li>
    </ul>
</section>

<!-- About Start -->
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-col">
                    <h3>Về Thương Hiệu <span>Song Hành cts</span></h3>
                    <h5>Modern and creative template</h5>
                    <p class="text-justify">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful At vero eos.</p>
                    <p class="text-justify">Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful At vero eos.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-col-img clearfix">
                    <img src="/songhanhcts/images/about/1.jpg" alt="" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s"> 
                    <div class="video-layer wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                        <a class="demo" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="pe-7s-video"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Separator Start -->
<section class="separator-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <div class="separator-col text-right center767">
                    <h2>Tư Vấn <span>Quản Trị Doanh Nghiệp</span> Chuyên Nghiệp</h2>
                    <a class="btn btn-default my-btn" href="" role="button">Xem Chi Tiết</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title">
                    <div class="title-style clearfix">
                        <h2>Lĩnh Vực <span>Hoạt Động</span></h2>
                    </div>
                    <p class="text-center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="service-icon">
                        <i class="pe-7s-monitor"></i>
                    </div>
                    <h3>Quản trị doanh nghiệp</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="service-icon">
                        <i class="pe-7s-pen"></i>
                    </div>
                    <h3>Tư Vấn Marketing</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="service-icon">
                        <i class="pe-7s-plane"></i>
                    </div>
                    <h3>Cà Phê 249</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".0s">
                    <div class="service-icon">
                        <i class="pe-7s-stopwatch"></i>
                    </div>
                    <h3>Trà Gừng 249</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="service-icon">
                        <i class="pe-7s-arc"></i>
                    </div>
                    <h3>Xuất Nhập Khẩu Nông Sản</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="service-icon">
                        <i class="pe-7s-diamond"></i>
                    </div>
                    <h3>Xuất Nhập Khẩu Thủy Sản</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
    </div>
</section> 

<!-- Portfolio Start -->
<section class="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title">
                    <div class="title-style">
                        <h2>Hình Ảnh Hoạt Động</h2>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="portfolio-col">
                    <!-- Filter Nav -->
                    <ul class="portfolio-nav">
                        <li data-filter="all"> Tất cả </li>
                        <li data-filter="1">Quản Trị Doanh Nghiệp</li>
                        <li data-filter="2">Tư Vấn Marketing</li>
                        <li data-filter="3">Xuất Nhập Khẩu</li>
                    </ul>
                    <!-- Filter Content -->
                    <div class="filtr-container">
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 2" data-sort="value">
                          <div class="box">
                            <img src="/songhanhcts/images/portfolio/1.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">Project Title</h3>
                                <ul class="icon">
                                    <li><a href="/songhanhcts/images/portfolio/1.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="2, 1" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/2.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/2.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 1" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/3.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/3.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1, 2" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/4.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/4.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 2" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/5.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/5.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 1" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/6.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/6.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    

<!-- Testimonial Start -->
<section class="testimonial-area">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="section-title">
                <div class="title-style">
                    <h2>Đánh Giá Khách Hàng</h2>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-col">
          <div class="testimonial-carousel">
            <div class="testimonial-item">
                <div class="pic">
                    <img src="/songhanhcts/images/testimonial/1.jpg" alt="">
                </div>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget.
                </p>
                <h3 class="title">Thomas Alfa</h3>
                <small class="post">- Web Designer</small>
            </div>
            <div class="testimonial-item">
                <div class="pic">
                    <img src="/songhanhcts/images/testimonial/2.jpg" alt="">
                </div>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget.
                </p>
                <h3 class="title">kristina</h3>
                <small class="post">- Web Developer</small>
            </div>
            <div class="testimonial-item">
                <div class="pic">
                    <img src="/songhanhcts/images/testimonial/3.jpg" alt="">
                </div>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget.
                </p>
                <h3 class="title">Jack Kallis</h3>
                <small class="post">- Grapic Designer</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog Start -->
<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title">
                    <div class="title-style">
                        <h2>Tin Tức Mới Nhất</h2>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 fw-600">
                 <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".0s">
                     <div class="blog-img">
                        <img src="/songhanhcts/images/blog/1.jpg" alt="">
                        <div class="post-date">
                            <h3>27 August, 2018</h3>
                        </div>
                     </div>
                     <div class="blog-content">
                         <h4><a href="blog-details.html">Fully responsive layout</a></h4>
                         <div class="info-bar clearfix">
                             <ul>
                                 <li><i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#">10 Comments</a></li>
                                 <li>/</li>
                                 <li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="#">Admin</a></li>
                             </ul>
                         </div>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majority majority have suffered alteration in some form, by injected.</p>
                         <a class="btn btn-default my-btn" href="blog-details.html" role="button">Read More</a>
                     </div>
                 </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 fw-600">
                 <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                     <div class="blog-img">
                        <img src="/songhanhcts/images/blog/2.jpg" alt="">
                        <div class="post-date">
                            <h3><span>28 August, 2018</span></h3>
                        </div>
                     </div>
                     <div class="blog-content">
                         <h4><a href="blog-details.html">Fully responsive layout</a></h4>
                         <div class="info-bar clearfix">
                             <ul>
                                 <li><i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#">10 Comments</a></li>
                                 <li>/</li>
                                 <li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="#">Admin</a></li>
                             </ul>
                         </div>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majority majority have suffered alteration in some form, by injected.</p>
                         <a class="btn btn-default my-btn" href="blog-details.html" role="button">Read More</a>
                     </div>
                 </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 fw-600">
                 <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                     <div class="blog-img">
                        <img src="/songhanhcts/images/blog/3.jpg" alt="">
                        <div class="post-date">
                            <h3><span> 30 August, 2018</span></h3>
                        </div>
                     </div>
                     <div class="blog-content">
                         <h4><a href="blog-details.html">Fully responsive layout</a></h4>
                         <div class="info-bar clearfix">
                             <ul>
                                 <li><i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#">10 Comments</a></li>
                                 <li>/</li>
                                 <li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="#">Admin</a></li>
                             </ul>
                         </div>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majority majority have suffered alteration in some form, by injected.</p>
                         <a class="btn btn-default my-btn" href="blog-details.html" role="button">Read More</a>
                     </div>
                 </div>
            </div>
            <div class="col-lg-4 col-md-4 hidden-lg hidden-md col-sm-6 col-xs-6 fw-600">
                 <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".0s">
                     <div class="blog-img">
                        <img src="/songhanhcts/images/blog/1.jpg" alt="">
                        <div class="post-date">
                            <h3>27 August, 2018</h3>
                        </div>
                     </div>
                     <div class="blog-content">
                         <h4><a href="blog-details.html">Fully responsive layout</a></h4>
                         <div class="info-bar clearfix">
                             <ul>
                                 <li><i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#">10 Comments</a></li>
                                 <li>/</li>
                                 <li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="#">Admin</a></li>
                             </ul>
                         </div>
                         <p>There are many variations of passages of Lorem Ipsum available, but the majority majority have suffered alteration in some form, by injected.</p>
                         <a class="btn btn-default my-btn" href="blog-details.html" role="button">Read More</a>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</section>

<!-- Client Start -->
<section class="client-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="client-col">
                    <div class="client-carousel">
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/1.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/2.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/3.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/4.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/5.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/6.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>