<% title "Trang chủ" %>
<!-- Slider Start -->
<%= render "erp/songhanhcts/frontend/modules/home/slider" %>

<!-- About Start -->
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-col">
                    <h3>Về Thương Hiệu <span>Song Hành cts</span></h3>
                    <h5>Modern and creative template</h5>
                    <p class="text-justify">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful At vero eos.</p>
                    <p class="text-justify">Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful At vero eos.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-col-img clearfix">
                    <img src="/songhanhcts/images/about/1.jpg" alt="" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s"> 
                    <div class="video-layer wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                        <a class="demo" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="pe-7s-video"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Separator Start -->
<section class="separator-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <div class="separator-col text-right center767">
                    <h2>Tư Vấn <span>Quản Trị Doanh Nghiệp</span> Chuyên Nghiệp</h2>
                    <a class="btn btn-default my-btn" href="" role="button">Xem Chi Tiết</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title">
                    <div class="title-style clearfix">
                        <h2>Lĩnh Vực <span>Hoạt Động</span></h2>
                    </div>
                    <p class="text-center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                    <div class="service-icon">
                        <i class="pe-7s-monitor"></i>
                    </div>
                    <h3>Quản trị doanh nghiệp</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="service-icon">
                        <i class="pe-7s-pen"></i>
                    </div>
                    <h3>Tư Vấn Marketing</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="service-icon">
                        <i class="pe-7s-plane"></i>
                    </div>
                    <h3>Cà Phê 249</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".0s">
                    <div class="service-icon">
                        <i class="pe-7s-stopwatch"></i>
                    </div>
                    <h3>Trà Gừng 249</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="service-icon">
                        <i class="pe-7s-arc"></i>
                    </div>
                    <h3>Xuất Nhập Khẩu Nông Sản</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="service-icon">
                        <i class="pe-7s-diamond"></i>
                    </div>
                    <h3>Xuất Nhập Khẩu Thủy Sản</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
    </div>
</section> 

<!-- Portfolio Start -->
<section class="portfolio-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title">
                    <div class="title-style">
                        <h2>Hình Ảnh Hoạt Động</h2>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="portfolio-col">
                    <!-- Filter Nav -->
                    <ul class="portfolio-nav">
                        <li data-filter="all"> Tất cả </li>
                        <li data-filter="1">Quản Trị Doanh Nghiệp</li>
                        <li data-filter="2">Tư Vấn Marketing</li>
                        <li data-filter="3">Xuất Nhập Khẩu</li>
                    </ul>
                    <!-- Filter Content -->
                    <div class="filtr-container">
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 2" data-sort="value">
                          <div class="box">
                            <img src="/songhanhcts/images/portfolio/1.jpg" alt="">
                            <div class="box-content">
                                <h3 class="title">Project Title</h3>
                                <ul class="icon">
                                    <li><a href="/songhanhcts/images/portfolio/1.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="2, 1" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/2.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/2.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 1" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/3.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/3.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1, 2" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/4.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/4.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 2" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/5.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/5.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 1" data-sort="value">
                            <div class="box">
                              <img src="/songhanhcts/images/portfolio/6.jpg" alt="">
                              <div class="box-content">
                                  <h3 class="title">Project Title</h3>
                                  <ul class="icon">
                                      <li><a href="/songhanhcts/images/portfolio/6.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    

<!-- Testimonial Start -->
<%= render "erp/songhanhcts/frontend/modules/home/testimonial" %>

<!-- Blog Start -->
<%= render "erp/songhanhcts/frontend/modules/home/newest_blogs" %>

<!-- Client Start -->
<section class="client-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="client-col">
                    <div class="client-carousel">
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/1.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/2.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/3.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/4.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/5.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="/songhanhcts/images/client/6.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>