<% @ads_banners = Erp::Banners::Banner.get_ads_banners %>

<% if !@ads_banners.empty? %>
<section class="advertisement-area">
    <div class="container">
        <div class='row'>
            <div class="col-md-12">
                <div class="ads-col">
                    <div class="advertisement-carousel">
                        <% @ads_banners.each_with_index do |ads_banner,index| %>
                            <div class="ads-item">
                                <div class="pic">
                                    <%= link_to image_tag(ads_banner.image_url, alt: ads_banner.name),
                                        (ads_banner.link_url.present? ? ads_banner.link_url : 'javascript:void(0)'),
                                        title: ads_banner.note, target: '_blank' %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% end %>
