<section class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    2018 &copy; <strong>SONG HANH cts</strong> - All Rights Reserved.<br>
                    Designed by <a href="http://hoangkhang.com.vn" target="_blank">Hoang Khang Incotech</a>
                </p>
            </div>
        </div>
    </div>
</section>