<section class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Bản quyền &copy; 2018. Đơn vị chủ quản: <strong>Công Ty TNHH Sản Xuất Thương Mại Dịch Vụ Song Hành CTS</strong>.<br>
                    All Rights Reserved. Designed by <a href="http://hoangkhang.com.vn" target="_blank">Hoang Khang Incotech</a>
                </p>
            </div>
        </div>
    </div>
</section>