<footer class="main-footer">
    <div class="container">
        <div class="row">                
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-col links">
                    <h3>Lĩnh Vực <span>Hoạt Động</span></h3>
                    <ul>
                        <li><a href="#">Tư Vấn Quản Trị Doanh Nghiệp</a></li>
                        <li><a href="#">Tư Vấn Marketing</a></li>
                        <li><a href="#">Cà Phê 249</a></li>
                        <li><a href="#">Trà Gừng 249</a></li>
                        <li><a href="#">Mua Bán XNK Nông Sản</a></li>
                        <li><a href="#">Mua Bán XNK Thủy Sản</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-col links">
                    <h3>Liên Kết <span>Nhanh</span></h3>
                    <ul>                            
                        <li><a href="#">Về Song Hành CTS</a></li>
                        <li><a href="#">Liên Hệ Hợp Tác</a></li>
                        <li><a href="#">Chuổi Hệ Thống</a></li>
                        <li><a href="#">Thông Tin Tuyển Dụng</a></li>
                        <li><a href="#">Lĩnh Vực Hoạt Động</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-col about">
                    <h3>Về <span>Song Hành CTS</span></h3>
                    <p class="text-justify">Consectetur adipisicing elit. Voluptatum expedita doloremque eligendi vero a adipisci perspiciatis, vel beatae odio dolorum officia minus unde.</p>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            177 Ấp Xà Mách, Xã Lai Uyên, Huyện Bàu Bàng, Tỉnh Bình Dương
                        </li>
                        <li>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            songhanhcts@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            0981 249 249
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</footer>