<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-col">
                    <h3>NÓI VỀ <span>SONG HANH cts</span></h3>
                    <p class="text-justify">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful At vero eos.</p>
                    <p class="text-justify">Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful At vero eos.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-col-img clearfix">
                    <img src="/songhanhcts/images/about/home-about.png" alt="" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s"> 
                    <div class="video-layer wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                        <a class="demo" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="pe-7s-video"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>