<% @home_about = Erp::Articles::Article.get_all_home_abouts.first %>
<% if @home_about.present? %>
    <section class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-col">
                        <h3>NÓI VỀ <span>SONG HANH cts</span></h3>
                        <p><%= @home_about.content.html_safe %></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-col-img clearfix">
                        <img src="/songhanhcts/images/about/home-about.png" alt="" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s"> 
                        <div class="video-layer wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                            <a class="demo" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="pe-7s-video"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% end %>