<section class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title">
                    <div class="title-style">
                        <h2>Đánh Giá Khách Hàng</h2>
                    </div>
                    <p>Chúng tôi quan tâm đến ý kiến đóng góp của Quý khách hàng. <br>Hãy xem khách hàng nói gì về chúng tôi!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-col">
                    <div class="testimonial-carousel">
                        <% (1..4).each do |testimonial| %>
                            <div class="testimonial-item">
                                <div class="pic">
                                    <img src="/songhanhcts/images/testimonial/1.jpg" alt="">
                                </div>
                                <p class="description">
                                    Nếu bạn chưa lấy Coffee 249 thử với 1 loại Cà phê nào đó mà bạn mua rồi bạn sẽ biết ngay thôi. Chúc bạn lựa chọn cho mình một Cà phê đảm bảo sức khỏe cho chính bạn và người thân của bạn.
                                </p>
                                <h3 class="title">Ông Quang Hùng</h3>
                                <small class="post">- Chủ quán SH Coffee</small>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>