<% title 'Nhận diện logo SONG HÀNH cts' %>

<!-- Blog Start -->
<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="blog-details-col">
                    <h3 class="blog-title" style="text-align: justify;"><%= 'Thông tin nhận dạng logo' %></h3>
                    <p>
                      Ý nghĩa logo<br>
                        -	Biểu tượng logo SONG HANH cts là sự cách điệu giữa hình ảnh 5 gạch nghiêng tượng trưng cho ngũ hành - ngọn lửa tượng trưng cho sự bùng cháy trong đam mê - SONG HANH cts và câu slogan tượng trưng cho dòng sông và con tàu được lồng vào nhau một cách tinh tế làm điểm nhấn cho logo với những đường nét mềm mại nhưng vẫn chắc chắn nhằm đem lại sự an tâm tin tưởng cũng như nhiều giải pháp để đạt được những giá trị tối đa mà khách hàng – người tiêu dùng đề ra.
                        <br>
                        -	Logo SONG HANH cts thể hiện sự năng động, mạnh mẽ và sáng tạo từ các cá nhân – chuyên viên chuyên nghiệp đầy trãi nghiệm của Công ty sẽ đem lại sự hài lòng cho khách hàng, với ý nghĩa là “Hài lòng của khách hàng là sự phát triển của chúng tôi”.
                    </p>
                    <p>
                      Ý nghĩa màu sắc<br>
                        -	Logo SONG HANH cts là sự kết hợp hài hòa giữa 3 gam màu (màu đỏ là màu của sự quyền lực, quyết tâm mạnh mẽ, màu của sự phát triển. Màu xanh lục là màu của thiên nhiên, màu của sự vũng bền và chắc chắn. Màu đen đi liền với quyền lực, thanh nhã, trang trọng lịch thiệp và quý phái) với ý nghĩa đem đến cho khách hàng những dịch vụ - sản phẩm mang phong cách thân thiện với môi trường và phù hợp với xu thế bảo vệ quyền lợi – sức khỏe và môi trường hiện nay.
                    </p>
                    <p>
                      Nội dung và ý nghĩa của câu Slogan<br>
                        Slogan: “Giải pháp tối ưu – Giá trị tối đa”<br>
                        -	Đưa ra giải pháp cho khách hàng một cách tốt nhất.<br>
                        -	Cả hai cùng nhận được giá trị cao nhất.<br>
                        -	Để đạt được hiệu quả cao, câu slogan cần đạt được trong mọi trường hợp hoạt động có liên quan đến SONG HÀNH cts trong các điều kiện cho phép. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>