<section class="team-style-two team-leader"> 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h3>Chuyên gia tư vấn</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <% (1..4).each do |leader| %>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 fw-600">
                    <div class="team-single-col wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".0s">
                        <div class="team-img">
                            <a href="javascript:void(0)"><img src="/songhanhcts/images/team/2.jpg" alt=""></a>
                            <div class="team-overlay">
                               <div class="team-content">
                                    <h4><a href="javascript:void(0)">Julio Rio</a></h4>
                                    <p>Web Developer</p>
                                    <div class="team-social-group">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="team-two-name">
                        <h4>Nguyễn Khoa Quang Hùng (Mr.)</h4>
                        <p>Giám đốc điều hành</p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>  
</section>