<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
  <div class="container clearfix">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="page-title-box center991">
                  <div class="page-title-content">
                    <h2>Chi tiết <span>tin tức</span></h2>
                    <p>
                        <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to "Tin tức", erp_songhanhcts.news_path %> <i class="fa fa-angle-double-right"></i>
                        <%= link_to "Những sai lầm cơ bản trong việc đặt mật khẩu mà người dùng Internet thường xuyên mắc phải",
                            "javascript:void(0)" %>
                    </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Blog Start -->
<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="blog-details-col">
                    <img src="/songhanhcts/images/blog/big-1.jpg" alt="">
                    <h3 class="blog-title" style="text-align: justify;">Những sai lầm cơ bản trong việc đặt mật khẩu mà người dùng Internet thường xuyên mắc phải</h3>
                    <div class="hilight-box">
                        <p style="text-transform: inherit; text-align: justify;">
                            Sử dụng một mật khẩu cho nhiều tài khoản hay dùng tên các nhân vật, bộ phim, thương hiệu yêu thích là hai trong số những sai lầm của người dùng trong việc lựa chọn mật khẩu cho các tài khoản online của mình.
                        </p>
                    </div>
                    <p style="text-align: justify;">
                        Theo nghiên cứu mới đây của Gang Wang, chuyên gia tại dịch vụ quản lý mật khẩu chuyên nghiệp Virginia Tech, rất nhiều người dùng đang mắc phải những sai lầm cơ bản trong quá trình đặt mật khẩu cho tài khoản của họ. Theo đó, người dùng thường có xu hướng lựa chọn những cụm từ dễ nhớ, ví dụ như sử dụng tên một ban nhạc hay đội thể thao nổi tiếng trên thế giới. Tuy nhiên, mức độ bảo mật của chúng lại không cao như kỳ vọng và hacker hoàn toàn có thể đoán ra một cách dễ dàng.
                    </p>
                    <p style="text-align: justify;">
                        Nghiên cứu của Wang đã phân tích và đánh giá 6.1 triệu mật khẩu khác nhau. Những mật khẩu này đều thuộc cơ sở dữ liệu người dùng đã bị rò rỉ thông qua các lỗ hổng bảo mật trong nhiều năm qua. Và dưới đây là “mặt ngang mũi dọc” của những loại mật khẩu mà bạn nên tránh sử dụng nếu muốn bảo vệ tài khoản của mình tốt hơn.
                    </p>
                    <p style="text-align: justify;">
                        <br>
                        Sử dụng một mật khẩu (hoặc chỉ sửa đổi một chút) cho nhiều tài khoản
                    </p>
                    <p style="text-align: justify;">
                        Sử dụng các ký tự cạnh nhau (hay “password walking”, thuật ngữ mà Wang sử dụng) ám chỉ đến kiểu mật khẩu bao gồm một dãy số hoặc chữ cái, biểu tượng đặt cạnh nhau trên bàn phím. Bạn có thể dễ dàng bắt gặp loại mật khẩu này ở bất kì đâu, phổ biến nhất là “123456” hay “qwerty”.
                    </p>
                    <p style="text-align: justify;">
                        Ngoài ra, cũng có rất nhiều biến thể của loại mật khẩu này, nhưng về cơ bản thì vẫn là sử dụng các phím liền kề nhau. Một số mật khẩu phổ biến nhất mà Wang đã phát hiện ra bao gồm: “1q2w3e4r”, “1qaz2wsx”, “1qazxsw2”, “zaq12wsx”, “!qaz2wsx”, “1qaz@wsx”. Nếu để ý kĩ, bạn sẽ nhận ra những mật khẩu trên thực chất chỉ bao gồm 8 phím phía bên trái của bàn phím và được gõ theo thứ tự từ trên xuống dưới hoặc ngược lại, không hề phức tạp như vẻ bên ngoài.
                    </p>
                    <p style="text-align: justify;">
                        <br>
                        Sử dụng mật khẩu thể hiện cảm xúc mãnh liệt
                    </p>
                    <p style="text-align: justify;">
                        Một trong những loại mật khẩu mà rất nhiều người dùng thường xuyên sử dụng chính là các cụm từ thể hiện cảm xúc yêu hoặc ghét một cách quá mãnh liệt. Trong đó, những cụm từ bày tỏ sự tức giận hay tiêu cực được lựa chọn nhiều hơn. Một số mật khẩu phổ biến nhất thuộc loại này bao gồm: “iloveyou”, “iloveme”, “trustno1”, “ihateyou”,...
                    </p>
                    <p style="text-align: justify;">
                        <br>
                        Sử dụng tên các thương hiệu nổi tiếng
                    </p>
                    <p style="text-align: justify;">
                        Các thương hiệu nổi tiếng sẽ giúp người dùng ghi nhớ mật khẩu lâu hơn, đặc biệt là những thương hiệu mà họ yêu thích và thường xuyên sử dụng. Trong đó, các cụm từ phổ biến nhất bao gồm: “myspace”, “mustang”, “linkedin”, “ferrari”, “playboy”, “mercedes”, “cocacola”, “snickers”, “corvette”, “skittles”.
                    </p>
                    <p style="text-align: justify;">
                        <br>
                        Sử dụng mật khẩu liên quan đến văn hóa đương đại
                    </p>
                    <p style="text-align: justify;">
                        Và tất nhiên, một trong những loại mật khẩu không thể thiếu chính là tên của các bộ phim, nhân vật, bài hát và chương trình TV nổi tiếng. Một số mật khẩu thuộc loại này bao gồm “superman”, “pokemon”, “slipknot”, “starwars”, “metallica”, “nirvana”, “blink182”, “spiderman”, “greenday” và “rockstar”.
                    </p>
                    <p style="text-align: justify;">
                        <br>
                        Sử dụng tên các đội bóng đá chuyên nghiệp
                    </p>
                    <p style="text-align: justify;">
                        Nghiên cứu của Wang đã phát hiện ra rất nhiều người dùng sử dụng tên các đội/môn thể thao để làm mật khẩu cho tài khoản của mình. Tuy nhiên trong đó, các đội bóng đá hàng đầu tại Châu Âu lại được lựa chọn nhiều hơn cả, bao gồm “liverpool”, “chelsea”, “arsenal”, “barcelona” và “manchester”.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <%= render "erp/songhanhcts/frontend/modules/blog/news/sidebar" %>
            </div> 
        </div>
    </div>
</section>