<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
  <div class="container clearfix">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="page-title-box center991">
                  <div class="page-title-content">
                    <h2>Chi tiết <span>tuyển dụng</span></h2>
                    <p>
                      <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                      <%= link_to "Tuyển dụng", erp_songhanhcts.recruitment_path %> <i class="fa fa-angle-double-right"></i>
                      <%= link_to "Tiêu đề của bài tuyển dụng",
                          "javascript:void(0)" %>
                    </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Blog Start -->
<section class="blog-details">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="blog-details-col">
                    <img src="/songhanhcts/images/blog/big-1.jpg" alt="">
                    <h3 class="blog-title">Tuyển nhân viên hành chính nhân sự</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora facilis non unde molestiae impedit. Laboriosam sequi, earum dolor odio ut ex laborum enim maiores porro, est rerum minima, libero. A saepe provident, enim ab natus nobis rerum distinctio necessitatibus ratione vitae ut blanditiis temporibus nisi deserunt dolorem nemo est. Architecto ad distinctio, culpa quod dolores quisquam maxime voluptatem debitis amet. Repellat vitae odio tenetur, obcaecati quas id reprehenderit cum totam omnis nobis alias sequi corrupti. Totam doloremque et beatae accusantium fugiat nam quasi provident non ad vero neque esse temporibus, non ad vero neque esse temporibus iusto quisquam, alias blanditiis maiores delectus odio fuga voluptatem error!</p>
                    <div class="hilight-box">
                        <p>Totam doloremque et beatae accusantium fugiat nam quasi provident non ad vero neque esse temporibus, non ad vero neque esse temporibus iusto quisquam.</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora facilis non unde molestiae impedit. Laboriosam sequi, earum dolor odio ut ex laborum enim maiores porro, est rerum minima, libero. A saepe provident, enim ab natus nobis rerum distinctio necessitatibus ratione vitae ut blanditiis temporibus nisi deserunt dolorem nemo est. Architecto ad distinctio, culpa quod dolores quisquam maxime voluptatem debitis amet. Repellat vitae odio tenetur, obcaecati quas id reprehenderit cum totam omnis nobis alias sequi corrupti. Totam doloremque et beatae accusantium fugiat nam quasi provident non ad vero neque esse temporibus, non ad vero neque esse temporibus iusto quisquam, alias blanditiis maiores delectus odio fuga voluptatem error!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="sidebar-col">
                    <div class="sidebar-post">
                        <div class="sidebar-title">
                            <h3>Tin mới đăng</h3>
                        </div>
                        <ul>
                            <li>
                                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                                <h4><a href="#">Fully Responsive Design</a></h4>
                                <p>December 12, 2018</p>
                            </li>
                            <li>
                                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                                <h4><a href="#">Fully Responsive Design</a></h4>
                                <p>December 15, 2018</p>
                            </li>
                            <li>
                                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                                <h4><a href="#">Fully Responsive Design</a></h4>
                                <p>December 16, 2018</p>
                            </li>
                            <li>
                                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                                <h4><a href="#">Fully Responsive Design</a></h4>
                                <p>December 19, 2018</p>
                            </li>
                            <li>
                                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                                <h4><a href="#">Fully Responsive Design</a></h4>
                                <p>December 20, 2018</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>