@font-face { font-family: songhanhcts; font-weight: bold; src: url('hp-font/HP-Bahamas M.ttf'); }
.navbar {
	padding-top: 2rem;
}
.mb-05-rem {
	margin-bottom: 0.5rem;
}
.ts-background {
	position: fixed;
    background: url(../img/trademark_footer.png) bottom repeat-x;
    background-size: 100%;
}
body.ts-theme-light p, body.ts-theme-light p > a {
	color: rgba(25, 25, 25, 1);
	font-weight: bold;
}
body.ts-theme-light p a {
	font-weight: bold;
}
.text-shadow {
	text-shadow: 0.375rem 0.3125rem 1.5625rem;
}
#footer, #footer small > a {
	color: #fff;
}
#main-content h1 strong {
	font-family: songhanhcts;
}