h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
.header-navbar .navbar-brand {
	margin-top: 0px;
}
.header-navbar .navbar-brand img {
	width: auto;
    height: 160%;
}
img.img-menu {
	width: 140px;
}
.topbar-info li {
	margin-top: 2px;
}
.main-footer {
	padding: 40px 0 10px;
}
@media only screen and (max-width:991px) {
	.header-navbar .navbar-brand img {
		width: auto;
		height: 150%;
	}
}
@media only screen and (max-width:767px) {
	.header-navbar .navbar-brand img {
		width: auto;
		height: 115%;
	}
}
.dropdown-menu.mega-menu li a, .header-navbar .navbar-nav .dropdown-menu>li>a {
	text-transform: capitalize;
	display: block;
}
.dropdown-menu.mega-menu li strong a {
	font-size: 16px;
	text-transform: uppercase;
}
li.menu-final {
	font-style: italic;
}
.header-navbar .navbar-default .navbar-nav>li>a {
	font-weight: 600;
	margin-left: 25px;
}
.header-navbar .navbar-default .navbar-nav>li.hotline>a {
	color: #ffffff;
    font-size: 16px;
    background: #0C94B8;;
    padding: 30px 10px;
}
.header-navbar .navbar-default .navbar-nav>li.hotline>a>i {
	font-size: 20px;
    vertical-align: middle;
}
.header-navbar .navbar-default .navbar-nav>li.hotline>a>span {
	vertical-align: middle;
}
@media only screen and (max-width: 767px) {
	.header-navbar .navbar-default .navbar-nav>li.hotline {
		display: none;
	}
}
.dropdown-menu.mega-menu li .no-hover a:hover {
	padding-left: 0px;
	border-left: 2px hidden transparent;
	opacity: 0.7;
}
.no-border-bottom {
	border-bottom: none !important;
}
.contact-area {
    padding: 40px 0 70px;
}
.contact-area h4 {
	text-transform: none;
}
.contact-area ul li span {
	color: #337ab7;
    font-weight: 600;
}
.defult-page-title {
	padding: 20px 0 20px;
	background: url(../images/bg/page-title.jpg);
	background-size: cover;
}
.page-title-box {
	padding: 20px 20px;
}
.page-title-box h2 {
	font-size: 30px;
	margin-bottom: 25px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.info-bar ul li.no-mr {
	margin-right: 0;
}
.blog-col h4 {
	font-size: 16px;
    margin-bottom: 15px;
}
.blog-col p {
    margin-bottom: 15px;
}
.blog-area {
    padding: 40px 0 30px;
}
.blog-details {
    padding: 40px 0 40px;
}
.hilight-box {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background: #f3f3f3;
}
.categories {
    margin-bottom: 40px;
}
.sidebar-post {
    margin-bottom: 40px;
}
.blog-details-col .blog-title {
	line-height: 1.4;
	margin-top: 20px;
	margin-bottom: 5px;
}
.blog-details-col .blog-meta {
	display: block;
	overflow: hidden;
	margin: 0 10px 0 0;
	padding: 0 0 20px;
	font-size: 13px;
}
.blog-details-col .blog-meta span i {
	color: #333;
	margin-right: 2px;
}
.blog-details-col .blog-meta span {
	color: #999;
	margin: 0 10px 0 5px;
	vertical-align: middle;
}
.page-title-box p {
	text-transform: capitalize;
}
.blog-full-img {
	margin-bottom: 10px;
}
.blog-full-col h2 {
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 1.2;
	text-transform: none;
}
/*.blog-full-col h2::first-letter {
	text-transform: uppercase;
}*/
.blog-full-col h2 a:hover {
	color: #147669;
}
.blog-sidebar-section {
    padding: 50px 0 40px;
}
.about-areas {
    padding: 40px 0 30px;
}
.services-style {
    padding: 0 0 40px;
}
.services-style h4 {
	line-height: 1.3;
}
.services-style h4>a{
	color: #232323;
}
.services-style .back-color h4>a:hover {
	background: none;
	color: #337ab7;
}
.column-margin {
    margin-bottom: 40px;
}
.blog-full-wd-bar ul li {
	color: #fff;
}
.categories ul li a.active {
    color: #0C94B8;
}
.sidebar-post ul li h4 {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
}
.sidebar-post ul li p {
	font-size: 12px;
}
.sidebar-post ul li {
	margin-bottom: 25px;
}
blockquote {
    padding: 5px 10px;
    margin: 0 0 10px;
    font-size: 15px;
    border-left: 5px solid #eee;
}
.custom-btn-three {
	background: #0c94b8;
}
.custom-btn-three:hover {
	background: #0c94b8;
	opacity: 0.8;
}
.client-style-three, .portfolio-details {
	padding: 30px 0 0;
}
.portfolio-section {
	padding: 30px 0 30px;
}
a.partner-style:hover img {
	opacity: 0.8;
	transform: scale(1.1);
}
.title {
	margin-bottom: 30px;
}
.page-title-box .page-title-content a, .page-title-box .page-title-content i {
	color: #fff;
	padding-left: 5px;
}
.page-title-box .page-title-content a:hover, .page-title-box .page-title-content i:hover {
	color: #0C94B8;
}
.page-title-box .page-title-content a.title-final-name {
	color: #fff;
	cursor: default;
}
.footer-col.about h3 span {
	text-transform: none;
}
.post-date.meta {
	padding: 5px 0;
	font-size: 12px;
}
.post-date.meta span {
	color: #fff;
	margin-right: 12px;
}
.post-date.meta span:last-child {
	margin-right: 0;
}
.post-date.meta span i {
	margin-right: 2px;
	color: #12592d;
    font-weight: 600;
}
.blog-area.home-module .blog-col .blog-content {
	padding: 15px 15px;
}
.blog-area.home-module .blog-col .blog-content h4 {
	line-height: 1.4;
	margin-bottom: 10px;
}
.section-title {
	margin-bottom: 40px;
}
.team-leader .team-single-col {
	margin-bottom: 0;
}
.team-leader .team-two-name {
	padding: 10px 10px;
	background: #fff;
	border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.team-leader .team-two-name h4 {
	text-transform: none;
    font-size: 15px;
}
.identities .team-two-name {
    background: #f3f3f3;
    padding: 10px 10px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.identities .team-two-name h3 {
	text-transform: none;
	font-size: 20px;
}
.identities .team-two-content h3 {
	text-transform: none;
    text-align: center;
    color: #fff;
	font-size: 20px;
}
.identities .team-two-content p {
	line-height: 1.7;
    color: #fff;
    text-align: justify;
}
.identities .team-two-content {
	background: #0c94b8;
}
.identities .team-hover-two {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.identities .team-hover-two:hover .team-two-content {
	opacity: .8;
}
.team-style-one.identities {
	padding: 0 0 20px;
}
h3.partner-title a {
	color: #fff;
}
h3.partner-title a:hover {
	opacity: 0.8
}
.partner-details .details-col p {
	text-align: justify;
}
h2.partner-detail-title {
	margin-bottom: 25px;
	font-size: 30px;
}
.page-title-box h1 {
	font-size: 36px;
    color: #0C94B8;
    position: relative;
    margin-bottom: 30px;
}
img.partner-img {
	border: 2px solid #0C94B8;
	border-radius: 5px;
	box-shadow: 8px 8px 10px #e8fdff;
}
img.partner-img:hover {
	opacity: 0.8;
}
.details-col {
	margin-bottom: 20px;
}
.main-slider.slide .item-bg-default {
	background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.owl-carousel .owl-item img {
	height: 545px;
}
.slide__item:before {
	background: rgba(0, 0, 0, 0.4);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    float: right;
    font-size: 15px;
    font-family: FontAwesome;
    content: "\f105";
    font-weight: 300;
    position: absolute;
    top: 15px;
    right: 14px;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.header-navbar .navbar-nav .dropdown-submenu .dropdown-menu {
    margin-left: 200px;
}

@media only screen and (max-width: 991px) {
	.header-navbar .navbar-nav .dropdown-submenu .dropdown-menu {
		margin-left: 16px;
	}
}
.about-col-two p {
    margin-bottom: 5px;
}
.team-overlay .team-content h4 {
	font-size: 15px;
    line-height: 1.4;
}
.video-layer {
	left: 82px;
	background: rgba(12, 148, 184, 0.5);
}
.about-area {
	padding: 50px 0 50px;
}
.testimonial-area {
	padding: 40px 0;
}
.testimonial-item .title, .testimonial-item .post {
	font-size: 14px;
	text-transform: none;
}
.about-col h3 {
	text-transform: none;
}
.testimonial-item {
	height: 200px;
}
.topbar-area {
	background: #a29e5e;
}
.topbar-area .social-icon ul li {
	background: #989455;
}
.topbar-area .social-icon ul li.language {
    transform: none !important;
    background: none !important;
    width: 4%;
}
#scrollUp {
	padding: 5px 15px;
	border-radius: 50%;
	border: 2px solid #fff;
	background-color: #075e23;
}
#scrollUp:after {
	display: none;
	border-right: 19.5px solid transparent;
    border-left: 19.5px solid transparent;
}
.faq-area.service-page {
    padding: 30px 0;
}
.faq-area.service-page .faq-col .panel-title {
	font-size: 15px;
	text-transform: none;
	color: #075e23;
}
.faq-area.service-page .panel-default>.panel-heading {
	background: #f5f5f5;
}
.faq-area.service-page .panel-heading .accordion-toggle:after {
	color: #075e23;
}
.faq-area.service-page h3 {
	font-weight: bold;
}
.faq-area.service-page h3 span, .services-style h3 span {
    color: #0C94B8;
}
.services-style h4 {}