<div class="sidebar-col">
    <% if false %>
        <div class="sidebar-search-box">
            <form>
                <div class="input-group">
                    <input placeholder="Nhập từ khóa tìm kiếm..." class="form-control" name="search-field" type="text">
                    <span class="input-group-btn">
                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    <% end %>
    <% if !@categories.empty? %>
        <div class="categories">
            <div class="sidebar-title">
                <h3>Chuyên mục</h3>
            </div>
            <ul class="clearfix">
                <% @categories.each do |cat| %>
                    <li>
                        <%= link_to cat.name, erp_songhanhcts.blog_with_category_path(cat.id, url_friendly(cat.name)),
                        class: "#{'active' if (defined?(cat_id) and cat.id == cat_id) or (cat.id == params[:cat_id].to_i)}" %>
                        <span class="pull-right">(10)</span>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <% if !@newest_blogs.empty? %>
        <div class="sidebar-post">
            <div class="sidebar-title">
                <h3>Tin khác mới đăng</h3>
            </div>
            <ul>
                <% @newest_blogs.each do |blog| %>
                    <li>
                        <%= link_to image_tag(article_image(blog.image.small, 'small'), alt: blog.name), article_link(blog) %>
                        <h4><%= link_to blog.name, article_link(blog) %></h4>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= blog.created_at.strftime("%d/%m/%Y %I:%M %p") %></p>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <% if false %>
        <div class="sidebar-video">
            <div class="sidebar-title">
                <h3>Video về chúng tôi</h3>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7e90gBu4pas"></iframe>
            </div>
        </div>
    <% end %>
</div>