<div class="sidebar-col">
    <div class="sidebar-search-box">
        <form>
            <div class="input-group">
                <input placeholder="Nhập từ khóa tìm kiếm..." class="form-control" name="search-field" type="text">
                <span class="input-group-btn">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
    </div>
    <div class="categories">
        <div class="sidebar-title">
            <h3>Chuyên mục</h3>
        </div>
        <ul class="clearfix">
            <li><a href="#">Tin tức</a><a class="pull-right" href="#">(10)</a></li>
            <li><a href="#">Góc công nghệ</a><a class="pull-right" href="#">(05)</a></li>
            <li><a href="#">Sự kiện</a><a class="pull-right" href="#">(13)</a></li>
            <li><a href="#">Hoạt động xã hội</a><a class="pull-right" href="#">(22)</a></li>
            <li><a href="#">Ấn phẩm nội bộ</a><a class="pull-right" href="#">(15)</a></li>
            <li><a href="#">Chuyên mục video</a><a class="pull-right" href="#">(06)</a></li>
        </ul>
    </div>
    <div class="sidebar-post">
        <div class="sidebar-title">
            <h3>Bài viết mới nhất</h3>
        </div>
        <ul>
            <li>
                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                <h4><a href="#">Fully Responsive Design</a></h4>
                <p>December 12, 2018</p>
            </li>
            <li>
                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                <h4><a href="#">Fully Responsive Design</a></h4>
                <p>December 15, 2018</p>
            </li>
            <li>
                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                <h4><a href="#">Fully Responsive Design</a></h4>
                <p>December 16, 2018</p>
            </li>
            <li>
                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                <h4><a href="#">Fully Responsive Design</a></h4>
                <p>December 19, 2018</p>
            </li>
            <li>
                <img src="/songhanhcts/images/blog/post-1.jpg" alt="">
                <h4><a href="#">Fully Responsive Design</a></h4>
                <p>December 20, 2018</p>
            </li>
        </ul>
    </div>
    <div class="sidebar-video">
        <div class="sidebar-title">
            <h3>Video về chúng tôi</h3>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7e90gBu4pas"></iframe>
        </div>
    </div>
</div>