<!--Team Style One -->
<% @identities = Erp::Articles::Article.get_all_identities %>
<% if !@identities.empty? %>
    <section class="team-style-one identities"> 
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h3>Nhận diện thương hiệu</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <% @identities.each do |identity| %>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 fw-600 column-margin">
                        <div class="team-hover-two">
                            <div class="img-zoom">
                                <%= link_to image_tag(identity.image.main_identity, alt: identity.name, title: identity.name), identity_link(identity) %>
                            </div>
                        </div>
                        <div class="team-two-name">
                            <h3><%= link_to identity.name, identity_link(identity) %></h3>
                        </div>
                    </div>
                <% end %>
            </div>
    </section>
<% end %>