<% title "Đối Tác Liên Kết" %>

<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h2><span>Đối Tác Liên Kết</span></h2>
                            <%= link_to "Trang Chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "Đối Tác Liên Kết", erp_songhanhcts.partners_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "SH Coffee", "javascript:void(0)" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="details-col">
                    <img src="/songhanhcts/images/portfolio/1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="details-col">
                    <ul>
                        <li>
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i> <strong>Thương Hiệu:</strong> SH Coffee
                        </li>
                        <li>
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i> <strong>Ngày thành lập:</strong> 30/04/2017
                        </li>
                        <li>
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i> <strong>Chủ sở hữu:</strong> Nguyễn Tôn Hùng
                        </li>
                        <li>
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i> <strong>Đánh giá:</strong> 
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </li>
                        <li>
                            <i class="fa fa-hand-o-right" aria-hidden="true"></i> <strong>Website:</strong> <%= link_to 'http://songhanhcts.com', 'http://songhanhcts.com', title: '' %>
                        </li>
                    </ul>
                    <p class="text-justify">“Đi cà phê” từ lâu không chỉ đơn thuần là uống một tách cà phê mà còn là dịp gặp mặt và trò chuyện cùng bạn bè. Tại SH Coffee, chúng tôi trân trọng và đề cao giá trị kết nối giữa con người và trải nghiệm của khách hàng. Chúng tôi được truyền cảm hứng từ những tách cà phê và thức uống mình tạo ra.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="details-col">
                    <h3>Thư Ngỏ</h3>
                    <p class="text-justify">“Đi cà phê” từ lâu không chỉ đơn thuần là uống một tách cà phê mà còn là dịp gặp mặt và trò chuyện cùng bạn bè. Tại SH Coffee, chúng tôi trân trọng và đề cao giá trị kết nối giữa con người và trải nghiệm của khách hàng. Chúng tôi được truyền cảm hứng từ những tách cà phê và thức uống mình tạo ra. Chúng tôi tin tưởng mạnh mẽ rằng những thức uống với chất lượng tốt nhất được phục vụ trong không gian thân thiện bởi những nhân viên tận tâm tại SH Coffee sẽ mang lại những niềm vui bạn có thể chia sẻ cùng bạn bè và gia đình.
                    <br>“Đi cà phê” từ lâu không chỉ đơn thuần là uống một tách cà phê mà còn là dịp gặp mặt và trò chuyện cùng bạn bè. Tại SH Coffee, chúng tôi trân trọng và đề cao giá trị kết nối giữa con người và trải nghiệm của khách hàng. Chúng tôi được truyền cảm hứng từ những tách cà phê và thức uống mình tạo ra. Chúng tôi tin tưởng mạnh mẽ rằng những thức uống với chất lượng tốt nhất được phục vụ trong không gian thân thiện bởi những nhân viên tận tâm tại SH Coffee sẽ mang lại những niềm vui bạn có thể chia sẻ cùng bạn bè và gia đình.
                    <br>“Đi cà phê” từ lâu không chỉ đơn thuần là uống một tách cà phê mà còn là dịp gặp mặt và trò chuyện cùng bạn bè. Tại SH Coffee, chúng tôi trân trọng và đề cao giá trị kết nối giữa con người và trải nghiệm của khách hàng. Chúng tôi được truyền cảm hứng từ những tách cà phê và thức uống mình tạo ra. Chúng tôi tin tưởng mạnh mẽ rằng những thức uống với chất lượng tốt nhất được phục vụ trong không gian thân thiện bởi những nhân viên tận tâm tại SH Coffee sẽ mang lại những niềm vui bạn có thể chia sẻ cùng bạn bè và gia đình.
                    <br>“Đi cà phê” từ lâu không chỉ đơn thuần là uống một tách cà phê mà còn là dịp gặp mặt và trò chuyện cùng bạn bè. Tại SH Coffee, chúng tôi trân trọng và đề cao giá trị kết nối giữa con người và trải nghiệm của khách hàng. Chúng tôi được truyền cảm hứng từ những tách cà phê và thức uống mình tạo ra. Chúng tôi tin tưởng mạnh mẽ rằng những thức uống với chất lượng tốt nhất được phục vụ trong không gian thân thiện bởi những nhân viên tận tâm tại SH Coffee sẽ mang lại những niềm vui bạn có thể chia sẻ cùng bạn bè và gia đình.</p>
                </div>
            </div>
        </div>
    </div>
</section>