<% title "Mạng Lưới Phân Phối" %>

<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h1><span>Mạng Lưới Phân Phối</span></h1>
                        <%= link_to "Trang Chủ", erp_songhanhcts.home_path, title: 'Trang Chủ' %><i class="fa fa-angle-double-right"></i>
                        <%= link_to "Chuỗi - Hệ Thống", "javascript:void(0)", title: '', class: 'title-final-name' %><i class="fa fa-angle-double-right"></i>
                        <%= link_to "Mạng Lưới Phân Phối", "javascript:void(0)", title: '', class: 'title-final-name' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="distribution-network">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Mạng Lưới Phân Phối</h2>
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-12">
                <img class="ban-do" src="/songhanhcts/images/partner/bandovietnam.svg" alt="" />
            </div>
        </div>      
    </div>      
</section>