<% title "Quản trị nguồn nhân lực" %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h2>Chi tiết <span>dịch vụ</span></h2>
                        <p>
                            <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "Tư vấn", erp_songhanhcts.service_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "Quản trị nguồn nhân lực",
                                "javascript:void(0)" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>