<% title "Quản trị nguồn nhân lực" %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h2>Chi tiết <span>dịch vụ</span></h2>
                        <p>
                            <%= link_to "Trang Chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "Tư Vấn", erp_songhanhcts.service_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "Quản Trị Nguồn Nhân Lực", "javascript:void(0)", title: '', class: 'title-final-name' %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section class="about-areas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-col-two">
                    <p>Nhiều người có thói quen uống cà phê vào buổi sáng để tỉnh táo. Nhưng nếu có một thức uống buổi sáng chứa nhiều lợi ích hơn so với cà phê; Trà gừng 249 là một lựa chọn tốt hơn nhiều.</p>

                    <h4>1. TRÀ GỪNG GIẢM ĐAU ĐẦU & CHỐNG VIÊM</h4>
                    <p>Gừng là một loại thảo mộc có chứa các hợp chất giúp giảm viêm và có tác dụng như một thuốc giảm đau tự nhiên. Vì những lý do này, người ta thường nhâm nhi một tách trà gừng để giảm chứng đau nửa đầu và đau đầu hay căng thẳng.
                    Nếu bạn bị đau đầu đi kèm với buồn nôn và nôn ói thì trà gừng là một sự lựa chọn tuyệt vời.</p>
                    
                    <h4>2. TRÀ GỪNG GIÚP GIẢM HO & THÔNG MŨI</h4>
                    <p>Bất cứ lúc nào bạn bị cảm lạnh hoặc đang trải qua các triệu chứng dị ứng nghiêm trọng thì trà gừng là sự lựa chọn tuyệt vời.
                    Trà gừng với một chút mật ong và chanh có thể giúp giảm ho, hắt hơi, chảy nước mũi, ngạt mũi và và sốt. Nó cũng chứa chất kháng histamin, có thể giúp làm giảm phản ứng dị ứng.
                    Trà gừng còn có tính kháng khuẩn và kháng virus, giúp điều trị các virus cảm lạnh và cảm cúm thông thường một cách tự nhiên.</p>
                    
                    <h4>3. TRÀ GỪNG GIÚP GIẢM BỊ CHUỘT RÚT & NHỮNG KHÓ CHỊU KHI TỚI KỲ KINH NGUYỆT</h4>
                    <p>Gừng có khả năng làm giảm bớt sự khó chịu của hiện tượng chuột rút, buồn nôn hay khó chịu trong kỳ kinh nguyệt.
                    Uống trà gừng không chỉ làm giảm hiện tượng khó chịu trong kỳ kinh nguyệt mà còn có tác dụng chống ung thư buồng trứng.</p>
                    
                    <h4>4. TRÀ GỪNG GIÚP GIỮ HỆ THỐNG TIÊU HOÁ KHOẺ MẠNH</h4>
                    <p>Đôi khi hệ tiêu hóa có thể bị ảnh hưởng bởi bệnh tật, viêm, nhiễm trùng hay độc tố khiến nó làm việc kém hiệu quả và gây ra một loạt hiện tượng như đầy hơi, táo bón, phân lỏng, đau bụng, chuột rút, khó tiêu.
                    Trà gừng là phương thuốc tốt nhất giúp hệ thống tiêu hóa của bạn hoạt động ổn định. Uống trà này một cách thường xuyên thậm chí còn có thể chống ung thư, giúp ngăn chặn các bệnh ung thư đại tràng, dạ dày và ung thư hậu môn.</p>
                    
                    <h4>5. TRÀ GỪNG GIÚP GIẢM ĐAU</h4>
                    <p>Đau khớp xảy ra vì các lý do khác nhau như: chấn thương, bệnh tật hoặc kiệt sức. Uống trà gừng là một biện pháp để giảm khó chịu do đau khớp gây ra. Điều này là bởi vì rễ gừng có chứa dược tính mà lại giúp giảm đau nhức cũng như sưng và viêm trong cơ thể.
                    Quan trọng nhất, trà có chứa các thuộc tính giúp khắc phục tình trạng máu lưu thông kém, một trong những lý do khiến cơ thể bạn bị đau nhức.</p>
                    
                    <h4>6. TRÀ GỪNG GIÚP GIỮ TRÁI TIM KHOẺ MẠNH </h4>
                    <p>Giữ trái tim khỏe mạnh là một trong rất nhiều lợi ích mà bạn có thể nhận được từ việc uống trà gừng vào buổi sáng.
                    Trà gừng giúp giảm lượng cholesterol và ngăn ngừa sự hình thành các cục máu đông. Nó cải thiện lưu thông máu trong cơ thể, do đó bạn cảm thấy ấm áp hơn, các chất dinh dưỡng và ôxy được vận chuyển trong cơ thể tốt hơn.</p>
                    
                    <h5>“TRÀ GỪNG 249 - THẦN DƯỢC CHO SỨC KHOẺ”</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<%= render "erp/songhanhcts/frontend/modules/service/our_team" %>