<% title "Quản trị nguồn nhân lực" %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h2>Chi tiết <span>dịch vụ</span></h2>
                        <p>
                            <%= link_to "Trang Chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "Tư Vấn", erp_songhanhcts.service_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "Quản Trị Nguồn Nhân Lực", "javascript:void(0)", title: '', class: 'title-final-name' %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>