<% title "Tư vấn" %>
<!-- Page Title bar -->
<section class="defult-page-title overlay-black">
    <div class="container clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="page-title-box center991">
                    <div class="page-title-content">
                        <h2><span>Tư vấn</span></h2>
                            <%= link_to "Trang chủ", erp_songhanhcts.home_path %> <i class="fa fa-angle-double-right"></i>
                            <%= link_to "Tư vấn", "javascript:void(0)" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section class="about-areas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-col-two">
                    <h3>Thư ngỏ</h3>
                    <p style="text-align: justify;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.</p>
                    <p style="text-align: justify;">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Services -->
<section class="services-style">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h3>Dịch vụ <span>tư vấn</span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column-margin">
                <div class="services-features-two text-center">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <div class="back-color">
                        <h4>Quản trị nguồn nhân lực</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                </div>  
            </div>  
            <div class="col-lg-3 col-md-63 col-sm-6 col-xs-12 column-margin">
                <div class="services-features-two text-center">
                    <i class="fa fa-registered" aria-hidden="true"></i>
                    <div class="back-color">
                        <h4>Thiết kế hệ thống nhận diện thương hiệu</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column-margin">
                <div class="services-features-two text-center">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <div class="back-color">
                        <h4>Quản trị phát triển kinh doanh</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                </div>  
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 column-margin">
                <div class="services-features-two text-center">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                    <div class="back-color">
                        <h4>Tư vấn pháp luật</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                    </div>
                </div>  
            </div>
        </div>
</section>