<!DOCTYPE html>
<html lang="vi">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/songhanhcts/images/apple-favicon.png">
    <link rel="shortcut icon" type="image/png" href="/songhanhcts/images/favicon.png">

    <title>Trang Chủ - Công Ty TNHH SX TM DV Tư Vấn Song Hành CTS</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/songhanhcts/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/songhanhcts/css/style.css">

    <!-- Responsive stylesheet  -->
    <link rel="stylesheet" type="text/css" href="/songhanhcts/css/responsive.css">

    <!-- Custom CSS  -->
    <link rel="stylesheet" type="text/css" href="/songhanhcts/css/custom.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
</head>

<body>

    <!-- Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
                <div class="object"></div>
            </div>
        </div>
    </div>

    <!-- Main Header Start -->
    <header class="main-navbar">
        <div class="topbar-area">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 center767">
                      <ul class="topbar-info">
                          <li><p>Chào mừng bạn đến với website Song Hành CTS!</p></li>
                      </ul>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 center767">
                    <div class="social-icon clearfix">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- Header navbar start -->
        <div class="header-navbar" id="navbar-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="<%= erp_songhanhcts.root_path %>"><img src="/songhanhcts/images/logo_songhanh_ngang.png" alt="">
                                </a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><%= link_to 'Trang Chủ', erp_songhanhcts.root_path %></li>
                                    <li><a href="">Giới Thiệu</a></li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lĩnh Vực Hoạt Động <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu mega-menu">
                                            <div class="row">
                                              <div class="col-md-3 col-sm-3">
                                                <li><strong><a href="">Tư Vấn</a></strong>
                                                    <li><a href="">Marketing</a></li>
                                                    <li><a href="">Quản Trị Doanh Nghiệp</a></li>
                                                </li>
                                              </div>
                                              <div class="col-md-3 col-sm-3">
                                                <li><strong><a href="">Thương Mại - Dịch Vụ</a></strong>
                                                    <li><a href="">Nông Sản</a></li>
                                                    <li><a href="">Thủy Sản</a></li>
                                                </li>
                                              </div>
                                              <div class="col-md-3 col-sm-3">
                                                <li><strong><a href="">Sản Xuất</a></strong>
                                                    <li><a href="">Cà Phê</a></li>
                                                    <li><a href="">Trà Gừng</a></li>
                                                </li>
                                              </div>
                                              <div class="col-md-3 col-sm-3">
                                                <img src="/songhanhcts/images/img-menu.jpg" class="img-menu" alt="">
                                              </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li><a href="">Chuổi Hệ Thống</a></li>
                                    <li><a href="">Tuyển Dụng</a></li>
                                    <li><a href="">Liên Hệ</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Slider Start -->
    <section class="main-slider-area">
        <ul class="main-slider slide">
            <li class="slide__item item-bg-1">
              <div class="slide-caption">
                <h2 class="slide-caption__title">Tư Vấn <span>Quản Trị Doanh Nghiệp</span></h2>
                <p class="slide-caption__desc">Dịch vụ tư vấn quản trị doanh nghiệp chuyên nghiệp</p>
                <a href="car-grid-3.html" class="btn">Xem Chi Tiết</a>
              </div>
            </li>
           <li class="slide__item item-bg-2">
              <div class="slide-caption">
                <h2 class="slide-caption__title">Thương Mại <span>Dịch Vụ</span></h2>
                <p class="slide-caption__desc">Nông Sản - Thủy Sản</p>
                <a href="car-grid-3.html" class="btn">Xem Chi Tiết</a>
              </div>
            </li>
            <li class="slide__item item-bg-3">
              <div class="slide-caption">
                <h2 class="slide-caption__title">Thương Hiệu <span>Cà Phê 249</span> Và <span>Trà Gừng 249</span></h2>
                <p class="slide-caption__desc">Hotline: 0981 249 249</p>
                <a href="car-grid-3.html" class="btn">Xem Chi Tiết</a>
              </div>
            </li>
        </ul>
    </section>

    <!-- About Start -->
    <section class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-col">
                        <h3>Về Thương Hiệu <span>Song Hành cts</span></h3>
                        <h5>Modern and creative template</h5>
                        <p class="text-justify">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful At vero eos.</p>
                        <p class="text-justify">Expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful At vero eos.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-col-img clearfix">
                        <img src="/songhanhcts/images/about/1.jpg" alt="" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0s"> 
                        <div class="video-layer wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                            <a class="demo" href="https://www.youtube.com/watch?v=7e90gBu4pas"><i class="pe-7s-video"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Separator Start -->
    <section class="separator-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-6 col-sm-12">
                    <div class="separator-col text-right center767">
                        <h2>Tư Vấn <span>Quản Trị Doanh Nghiệp</span> Chuyên Nghiệp</h2>
                        <a class="btn btn-default my-btn" href="" role="button">Xem Chi Tiết</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Service Start -->
    <section class="service-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <div class="title-style clearfix">
                            <h2>Lĩnh Vực <span>Hoạt Động</span></h2>
                        </div>
                        <p class="text-center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                    <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="service-icon">
                            <i class="pe-7s-monitor"></i>
                        </div>
                        <h3>Quản trị doanh nghiệp</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                    <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="service-icon">
                            <i class="pe-7s-pen"></i>
                        </div>
                        <h3>Tư Vấn Marketing</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                    <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="service-icon">
                            <i class="pe-7s-plane"></i>
                        </div>
                        <h3>Cà Phê 249</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                    <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".0s">
                        <div class="service-icon">
                            <i class="pe-7s-stopwatch"></i>
                        </div>
                        <h3>Trà Gừng 249</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                    <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="service-icon">
                            <i class="pe-7s-arc"></i>
                        </div>
                        <h3>Xuất Nhập Khẩu Nông Sản</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 fw-600">
                    <div class="service-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="service-icon">
                            <i class="pe-7s-diamond"></i>
                        </div>
                        <h3>Xuất Nhập Khẩu Thủy Sản</h3>
                        <p>It is a long established fact that a reader will be distracted by the readable readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!-- Portfolio Start -->
    <section class="portfolio-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <div class="title-style">
                            <h2>Hình Ảnh Hoạt Động</h2>
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="portfolio-col">
                        <!-- Filter Nav -->
                        <ul class="portfolio-nav">
                            <li data-filter="all"> Tất cả </li>
                            <li data-filter="1">Quản Trị Doanh Nghiệp</li>
                            <li data-filter="2">Tư Vấn Marketing</li>
                            <li data-filter="3">Xuất Nhập Khẩu</li>
                        </ul>
                        <!-- Filter Content -->
                        <div class="filtr-container">
                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 2" data-sort="value">
                              <div class="box">
                                <img src="/songhanhcts/images/portfolio/1.jpg" alt="">
                                <div class="box-content">
                                    <h3 class="title">Project Title</h3>
                                    <ul class="icon">
                                        <li><a href="/songhanhcts/images/portfolio/1.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="2, 1" data-sort="value">
                                <div class="box">
                                  <img src="/songhanhcts/images/portfolio/2.jpg" alt="">
                                  <div class="box-content">
                                      <h3 class="title">Project Title</h3>
                                      <ul class="icon">
                                          <li><a href="/songhanhcts/images/portfolio/2.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                          <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                      </ul>
                                  </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 1" data-sort="value">
                                <div class="box">
                                  <img src="/songhanhcts/images/portfolio/3.jpg" alt="">
                                  <div class="box-content">
                                      <h3 class="title">Project Title</h3>
                                      <ul class="icon">
                                          <li><a href="/songhanhcts/images/portfolio/3.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                          <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                      </ul>
                                  </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="1, 2" data-sort="value">
                                <div class="box">
                                  <img src="/songhanhcts/images/portfolio/4.jpg" alt="">
                                  <div class="box-content">
                                      <h3 class="title">Project Title</h3>
                                      <ul class="icon">
                                          <li><a href="/songhanhcts/images/portfolio/4.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                          <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                      </ul>
                                  </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 2" data-sort="value">
                                <div class="box">
                                  <img src="/songhanhcts/images/portfolio/5.jpg" alt="">
                                  <div class="box-content">
                                      <h3 class="title">Project Title</h3>
                                      <ul class="icon">
                                          <li><a href="/songhanhcts/images/portfolio/5.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                          <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                      </ul>
                                  </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-4 filtr-item" data-category="3, 1" data-sort="value">
                                <div class="box">
                                  <img src="/songhanhcts/images/portfolio/6.jpg" alt="">
                                  <div class="box-content">
                                      <h3 class="title">Project Title</h3>
                                      <ul class="icon">
                                          <li><a href="/songhanhcts/images/portfolio/6.jpg" data-lightbox="lightbox" data-title="My caption"><i class="fa fa-search-plus" aria-hidden="true"></i></a></li>
                                          <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                      </ul>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <!-- Testimonial Start -->
    <section class="testimonial-area">
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title">
                    <div class="title-style">
                        <h2>Đánh Giá Khách Hàng</h2>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="testimonial-col">
              <div class="testimonial-carousel">
                <div class="testimonial-item">
                    <div class="pic">
                        <img src="/songhanhcts/images/testimonial/1.jpg" alt="">
                    </div>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget.
                    </p>
                    <h3 class="title">Thomas Alfa</h3>
                    <small class="post">- Web Designer</small>
                </div>
                <div class="testimonial-item">
                    <div class="pic">
                        <img src="/songhanhcts/images/testimonial/2.jpg" alt="">
                    </div>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget.
                    </p>
                    <h3 class="title">kristina</h3>
                    <small class="post">- Web Developer</small>
                </div>
                <div class="testimonial-item">
                    <div class="pic">
                        <img src="/songhanhcts/images/testimonial/3.jpg" alt="">
                    </div>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget.
                    </p>
                    <h3 class="title">Jack Kallis</h3>
                    <small class="post">- Grapic Designer</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Blog Start -->
    <section class="blog-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="section-title">
                        <div class="title-style">
                            <h2>Tin Tức Mới Nhất</h2>
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 fw-600">
                     <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".0s">
                         <div class="blog-img">
                            <img src="/songhanhcts/images/blog/1.jpg" alt="">
                            <div class="post-date">
                                <h3>27 August, 2018</h3>
                            </div>
                         </div>
                         <div class="blog-content">
                             <h4><a href="blog-details.html">Fully responsive layout</a></h4>
                             <div class="info-bar clearfix">
                                 <ul>
                                     <li><i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#">10 Comments</a></li>
                                     <li>/</li>
                                     <li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="#">Admin</a></li>
                                 </ul>
                             </div>
                             <p>There are many variations of passages of Lorem Ipsum available, but the majority majority have suffered alteration in some form, by injected.</p>
                             <a class="btn btn-default my-btn" href="blog-details.html" role="button">Read More</a>
                         </div>
                     </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 fw-600">
                     <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
                         <div class="blog-img">
                            <img src="/songhanhcts/images/blog/2.jpg" alt="">
                            <div class="post-date">
                                <h3><span>28 August, 2018</span></h3>
                            </div>
                         </div>
                         <div class="blog-content">
                             <h4><a href="blog-details.html">Fully responsive layout</a></h4>
                             <div class="info-bar clearfix">
                                 <ul>
                                     <li><i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#">10 Comments</a></li>
                                     <li>/</li>
                                     <li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="#">Admin</a></li>
                                 </ul>
                             </div>
                             <p>There are many variations of passages of Lorem Ipsum available, but the majority majority have suffered alteration in some form, by injected.</p>
                             <a class="btn btn-default my-btn" href="blog-details.html" role="button">Read More</a>
                         </div>
                     </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 fw-600">
                     <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
                         <div class="blog-img">
                            <img src="/songhanhcts/images/blog/3.jpg" alt="">
                            <div class="post-date">
                                <h3><span> 30 August, 2018</span></h3>
                            </div>
                         </div>
                         <div class="blog-content">
                             <h4><a href="blog-details.html">Fully responsive layout</a></h4>
                             <div class="info-bar clearfix">
                                 <ul>
                                     <li><i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#">10 Comments</a></li>
                                     <li>/</li>
                                     <li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="#">Admin</a></li>
                                 </ul>
                             </div>
                             <p>There are many variations of passages of Lorem Ipsum available, but the majority majority have suffered alteration in some form, by injected.</p>
                             <a class="btn btn-default my-btn" href="blog-details.html" role="button">Read More</a>
                         </div>
                     </div>
                </div>
                <div class="col-lg-4 col-md-4 hidden-lg hidden-md col-sm-6 col-xs-6 fw-600">
                     <div class="blog-col wow fadeIn" data-wow-duration="1s" data-wow-delay=".0s">
                         <div class="blog-img">
                            <img src="/songhanhcts/images/blog/1.jpg" alt="">
                            <div class="post-date">
                                <h3>27 August, 2018</h3>
                            </div>
                         </div>
                         <div class="blog-content">
                             <h4><a href="blog-details.html">Fully responsive layout</a></h4>
                             <div class="info-bar clearfix">
                                 <ul>
                                     <li><i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#">10 Comments</a></li>
                                     <li>/</li>
                                     <li><i class="fa fa-pencil" aria-hidden="true"></i> <a href="#">Admin</a></li>
                                 </ul>
                             </div>
                             <p>There are many variations of passages of Lorem Ipsum available, but the majority majority have suffered alteration in some form, by injected.</p>
                             <a class="btn btn-default my-btn" href="blog-details.html" role="button">Read More</a>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Client Start -->
    <section class="client-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="client-col">
                        <div class="client-carousel">
                            <div class="item"><a href="#"><img src="/songhanhcts/images/client/1.png" alt=""></a></div>
                            <div class="item"><a href="#"><img src="/songhanhcts/images/client/2.png" alt=""></a></div>
                            <div class="item"><a href="#"><img src="/songhanhcts/images/client/3.png" alt=""></a></div>
                            <div class="item"><a href="#"><img src="/songhanhcts/images/client/4.png" alt=""></a></div>
                            <div class="item"><a href="#"><img src="/songhanhcts/images/client/5.png" alt=""></a></div>
                            <div class="item"><a href="#"><img src="/songhanhcts/images/client/6.png" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Start -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">                
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-col links">
                        <h3>Lĩnh Vực <span>Hoạt Động</span></h3>
                        <ul>
                            <li><a href="#">Tư Vấn Quản Trị Doanh Nghiệp</a></li>
                            <li><a href="#">Tư Vấn Marketing</a></li>
                            <li><a href="#">Cà Phê 249</a></li>
                            <li><a href="#">Trà Gừng 249</a></li>
                            <li><a href="#">Mua Bán XNK Nông Sản</a></li>
                            <li><a href="#">Mua Bán XNK Thủy Sản</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-col links">
                        <h3>Liên Kết <span>Nhanh</span></h3>
                        <ul>                            
                            <li><a href="#">Về Song Hành CTS</a></li>
                            <li><a href="#">Liên Hệ Hợp Tác</a></li>
                            <li><a href="#">Chuổi Hệ Thống</a></li>
                            <li><a href="#">Thông Tin Tuyển Dụng</a></li>
                            <li><a href="#">Lĩnh Vực Hoạt Động</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-col about">
                        <h3>Về <span>Song Hành CTS</span></h3>
                        <p class="text-justify">Consectetur adipisicing elit. Voluptatum expedita doloremque eligendi vero a adipisci perspiciatis, vel beatae odio dolorum officia minus unde.</p>
                        <ul>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                177 Ấp Xà Mách, Xã Lai Uyên, Huyện Bàu Bàng, Tỉnh Bình Dương
                            </li>
                            <li>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                songhanhcts@gmail.com
                            </li>
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                0981 249 249
                            </li>
                        </ul>
                    </div>
                </div>            
            </div>
        </div>
    </footer>

    <!-- Copyright Start -->
    <section class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Bản quyền &copy; 2018. Đơn vị chủ quản: <strong>Công Ty TNHH Sản Xuất Thương Mại Dịch Vụ Song Hành CTS</strong>.<br>
                        All Rights Reserved. Designed by <a href="http://hoangkhang.com.vn" target="_blank">Hoang Khang Incotech</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="/songhanhcts/js/jquery.min.js"></script>

    <!-- Bootstrap Min js -->
    <script src="/songhanhcts/js/bootstrap.min.js"></script>
    <!-- bootstrap-dropdownhover js -->
    <script src="/songhanhcts/js/bootstrap-dropdownhover.min.js"></script>
    <!-- imagesloaded JS -->
    <script src="/songhanhcts/js/imagesloaded.min.js"></script>
    <!-- filterizr JS -->
    <script src="/songhanhcts/js/jquery.filterizr.min.js"></script>
    <!-- typing js -->
    <script src="/songhanhcts/js/typing.js"></script>
    <!-- VideoPopUp -->
    <script src="/songhanhcts/js/VideoPopUp.jquery.js"></script>
    <!-- counterup -->
    <script src="/songhanhcts/js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <script src="/songhanhcts/js/jquery.waypoints.min.js"></script>
    <!-- carousel -->
    <script src="/songhanhcts/js/owl.carousel.min.js"></script>
    <!-- jarallax -->
    <script src="/songhanhcts/js/jarallax.min.js"></script>
    <!-- lightbox -->
    <script src="/songhanhcts/js/lightbox.min.js"></script>
    <!-- youtubebackground JS -->
    <script src="/songhanhcts/js/jquery.youtubebackground.js"></script>
    <!-- jquery scrollUp  JS -->
    <script src="/songhanhcts/js/jquery.scrollUp.min.js"></script>
    <!-- wow.min JS -->
    <script src="/songhanhcts/js/wow.min.js"></script>
    <!-- Main Custom JS -->
    <script src="/songhanhcts/js/custom.js"></script>

    <!--    <script>
            $(document).ready(function() {
        //Preloader
        $(window).load(function() {
        preloaderFadeOutTime = .5s;
        function hidePreloader() {
        var preloader = $('.spinner-wrapper');
        preloader.fadeOut(preloaderFadeOutTime);
        }
        hidePreloader();
        });
    });
    </script> -->

</body>

</html>